{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!--This loads Django's timezone template tags, which we'll need for date operations.-->
{% load tz %}

<div class="container m-3 p-3">
    <form id="deletePollsForm" action="{% url 'polls:delete_polls' %}" method="post">
        {% csrf_token %} <!-- must have inside the form -->
        <div class="row d-flex align-items-start mb-3">
            <div class="col"><h1>Open Polls</h1></div>
            <div class="col">
                <a href="{% url 'polls:create_poll' %}" class="btn btn-success">Add a new Poll</a>
                <button class="btn btn-danger" id="delete_polls_button" onclick="deletePolls()">Delete Polls</button>
            </div>
        </div>
        <input type="hidden" id="poll_ids" name="poll_ids" value="">
    </form>
    {% if latest_question_list %}
    {% for question in latest_question_list %}
    <!--This gets the current date in the format "YYYY-MM-DD" and stores it in a variable-->
    {% now "Y-m-d" as current_date %}
    <!--This creates a temporary variable end_date with the question.end_date formatted as "YYYY-MM-DD"-->
    {% with end_date=question.end_date|date:"Y-m-d" %}
    {% if end_date < current_date %}
    <div class="row my-2" id="poll-{{question.id}}">
        <div class="col">
            <input class="form-check-input mx-2" type="checkbox" name="selected_poll" id="{{question.id}}">
            <span>{{ question.question_text }}</span>
        </div>
        <div class="col-4">
            <button type="button" class="btn btn-outline-success btn-sm">Closed</button>
            <a href="{% url 'polls:results' question.id %}" class="btn btn-info btn-sm">Result</a>
        </div>
    </div>
    {% else %}
    <div class="row my-2" id="poll-{{question.id}}">
        <div class="col">
            <input class="form-check-input mx-2" type="checkbox" name="selected_poll" id="{{question.id}}"> 
            <a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
        </div>
        <div class="col-4">
            <a href="{% url 'polls:detail' question.id %}" class="btn btn-outline-secondary btn-sm">On-going</a>
        </div>
    </div>
    {% endif %}
    {% endwith %}
    {% endfor %}
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
</div>

<script>
    function deletePolls() {
        // checked items
        const selectedPolls = document.querySelectorAll('input[name="selected_poll"]:checked');
        // extract question.id only 
        const pollsIds = Array.from(selectedPolls).map(poll => poll.id)

        if (pollsIds.length > 0) {
            // remove from screen 
            pollsIds.forEach(id => {
            document.getElementById(`poll-${id}`).remove();
            })
            // send value to views.py: POST extracted question_id 
            document.getElementById('poll_ids').value = pollsIds;
            document.getElementById('deletePollsForm').submit();
        }
    }
</script>